@model IEnumerable<_1.Entity_Layer.Vacancy>

@{
    ViewBag.Title = "ShowVacancy";
}

<div class="container mt-5">
    <h2>Show Vacancy</h2>

    <p>
        @Html.ActionLink("Create New", "createVacancy", null, new { @class = "btn btn-success" })
    </p>

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.AgencyId)</th>
                <th>@Html.DisplayNameFor(model => model.JobTitle)</th>
                <th>@Html.DisplayNameFor(model => model.JobDescription)</th>
                <th>@Html.DisplayNameFor(model => model.JobLocation)</th>
                <th>@Html.DisplayNameFor(model => model.Salary)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.AgencyId)</td>
                    <td>@Html.DisplayFor(modelItem => item.JobTitle)</td>
                    <td>@Html.DisplayFor(modelItem => item.JobDescription)</td>
                    <td>@Html.DisplayFor(modelItem => item.JobLocation)</td>
                    <td>@Html.DisplayFor(modelItem => item.Salary)</td>
                    <td>
                        <div class="btn-group" role="group">
                            @Html.ActionLink("Edit", "editVacancy", new { id = item.VacancyId }, new { @class = "btn btn-primary" })
                            @Html.ActionLink("Details", "showVacancyById", new { id = item.VacancyId }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Delete", "deleteVacancyById", new { id = item.VacancyId }, new { @class = "btn btn-danger" })
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <p>
        @Html.ActionLink("Go To Dashboard", "AgencyDashboard", null, new { @class = "btn btn-secondary" })
    </p>
</div>